/* Customize */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

:root {
    background-color: #292F4A;
    color: #F4F1DE;
    font-family: 'Sora', sans-serif;
    margin: 0;
    border: 1px solid #F4F1DE;

}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center {
    text-align: center;
}

.bold-text {
    font-weight: bolder;
}
/* Team Profile */
.container{
    height: auto;
    margin: 0 10rem;
    padding: 2.5rem;
    font-size: 1rem;
}

.about-wrapper img{
    height: 17rem;
    width: 17rem;
    padding: auto;
    margin: 1rem;
    border-radius: 25px;
}

.about-wrapper{
    height: auto;
    margin: 1rem 0;
}

.section-title{
    font-size: 2rem;
}

.item {
    padding: 1%;
}

/* Button */
.btn {
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #292F4A;
    border: 1px solid #F4F1DE;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    color: #F4F1DE;
}
  
.btn:hover {
    background-color: #F2CC8F;
    color: #292F4A;
}

/* Read more/less */
.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    color: #F2CC8F;
    margin-left: 2px;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}

#more {display: none;}

/* Change the style if the screen is less than 1300px */
@media screen and (max-width: 1300px) {
    .container{
        height: auto;
        text-align: center;
        padding: 0;
        font-size: 0.8rem;
    }

    .about-wrapper{
        flex-direction: column;   
        margin: 0px;
    }

    .section-title{
        font-size: 3rem;
    }
    
    .btn {
        width: 10rem;
        height: 4rem;
        font-size: 1rem;
        margin: 20px 0 0 0;
    }
}